
body{
    background-image: linear-gradient( rgb(216, 216, 216),white)
}
.container{
    border: 5px solid rgb(124, 124, 124);
    padding: 20px;
    margin: auto;
    margin-top: 10%;
    width: 350px;
    text-align: center;
}
.badge{
    border-radius: 50%;
    border: 5px solid white;
    }

footer{
        text-align: right;
        padding: 0px 0px 0px 40px;
        margin: auto;
        width: 350px;
    }

footer *{
    height: 50px;
    width: 50px;
}